body{
    background-image: url("https://user-images.githubusercontent.com/39142850/67110554-fdea5400-f20d-11e9-834a-d459a612b7b1.gif");
}

img{
    border-radius: 4px;
    height: 400px;
    width: 400px;
}

.buttonBuyComputer{
    width: 150px;
    height: 50px;
    border-radius: 8px;
    background-color: aqua;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    left: 35%;
    top: 20%;
}

.priceComputer{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    left: 40%;
    top: 10%;
}

.workBlock{
    width: fit-content;
    text-align: center;
}